@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', 700;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: 'Rajdhani', 700;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

#front-dev{
    font-size: 1.5rem;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Containers */

.container-fluid {
    padding: 7% 10% 0%;    
}

/* Sections */

.colored-section {
    background-color: #0b2f2b;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {    
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Rajdhani' 200;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.fa-download {
    margin-right: 15px;
}


/* container Section */

#container.container-fluid { /* read from right to left */
    padding: 3% 10% 7%;
    text-align: center;
}

/* containerImage */

.portrait-image{
    width: 100%;
    /* transform: rotate(25deg); */
    /* position: absolute; */
    float: inline-end;
    right: 20%;    
}

/* SKILLS Section */

.container-skill {    
    position: relative;
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.feature-container{
    font-size: 1.5rem;    
}

.col-lg-2 {
    text-align: center !important;
}

.feature-box {
    padding: 4.5%;
}

.fab {
    color: #ef8172;
    margin-bottom: 1rem;
}

.social-icon:hover {
    color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {    
    background-color: #913026;    
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #913026;    
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 50px;    
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}
a {
    color: #fff;
}

.contact {
    font-size: 2.5rem;
    font-weight: 4;
}


/* Footer Section */

.social-icon {
    margin: 20px 10px;
}

.footer-inner {
    text-align: center;
    padding: 40px;
}

.cta-container {
    text-align: center;
    padding: 60px;
}

/* MEDIA QUERY */

@media (max-width: 1028px) {

    .container-fluid {
        padding-right: 5%;    
    }

    #container{
        text-align: left;
    }

    .portrait-image{
        position: static;
        transform: rotate(45deg);
    }
}